$bg-light: rgb(240, 241, 255);
$font-color-default: #1a1a1a;
$font-color-light: #ececec;
$form-color: rgb(29, 29, 29);
$primary-color: rgb(67, 80, 255);
$separator-color: rgb(109, 109, 109);
$font-color-error: rgb(146, 0, 0);
$bg-error: rgb(255, 141, 141);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  min-height: 100vh;
  background-color: $bg-light !important;
  color: $font-color-default;
}

.content-container {
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-text,
.main-text-page,
.main-text-picture {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: justify;
  hyphens: auto;
  max-width: 900px;
  padding: 20px 20px 0px 20px;
}

.main-text-page {
  max-width: 900px;
  padding: 20px 20px 10px 20px;
}

.main-text-picture {
  max-width: 1800px;
  padding: 20px;
}

.dropdown-menu {
  background-color: $bg-light !important;
}

.card-div {
  color: $font-color-light;
  background-color: $form-color;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), 2px 2px 3px rgba(0, 0, 0, 0.205), -1px 0px 1px rgba(0, 0, 0, 0.178);
  text-decoration: none !important;
  padding: 10px 18px 12px 18px;
  margin-bottom: 20px;
  transition: 1s;
  &:hover,
  &:focus,
  &:active {
    transition: 0.5s;
    transform: translate(20px, 0px);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3), -2px 2px 3px rgba(0, 0, 0, 0.205),
      -30px 15px 20px rgba(0, 0, 0, 0.137), 1px 0px 1px rgba(0, 0, 0, 0.178);
  }
}

.card-title {
  text-align: left;
  padding: 0px 5px 0px 5px;
}

.card-info {
  text-align: left;
  font-weight: lighter;
}

.card-desc {
  text-align: left;
  text-align: justify;
  margin-bottom: 0px;
}

.main-header {
  background-color: $primary-color;
  color: $font-color-light;
  padding: 7px 0px 3px 0px;
  box-shadow: 0px 2px 3px $separator-color;
}

.footer {
  background-color: $primary-color;
  color: $font-color-light;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 2px 5px 2px 5px;
  box-shadow: 0px -2px 1px $separator-color;
}

.blog-md {
  pre {
    border-radius: 10px;
  }
}

.user-input-container {
  margin: auto;
  max-width: 400px;
}

.user-form-container {
  padding: 10px 20px 20px 20px;
  background-color: $form-color;
  color: $font-color-light;
  border-radius: 10px;
  margin-bottom: 20px;
}

.res-error {
  background-color: $bg-error;
  color: $font-color-error;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  margin: 5px 0px 15px 0px;
}
