$bg-light: #ccc;
$bg-dark: #3f3f3f;

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 3px;
  left: 0;
  right: 0;
  bottom: -6px;
  background-color: $bg-light;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 21.5px;
  width: 21.5px;
  left: 3.5px;
  bottom: 3.5px;
  background-color: $bg-dark;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $bg-dark;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: $bg-light;
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.sliderholder {
  align-content: flex-end;
  display: flex;
  flex-direction: row;
}

.themefont {
  color: #ececec80;
  margin-bottom: 0;
  align-self: center;
  font-size: 1.3rem;
  &.lightmode {
    padding-right: 5px;
  }
  &.darkmode {
    padding-left: 5px;
    padding-right: 15px;
  }
  &.active {
    color: $bg-light;
  }
  &.inactive {
    color: #ececec80;
  }
}
