$bg-light: rgb(240, 241, 255);
$bg-dark: rgb(63, 63, 63);
$font-color-default: #1a1a1a;
$font-color-light: #ececec;
$form-color: rgb(29, 29, 29);
$primary-color: #004ea7;
$primary-color-dark: #002958;
$separator-color: rgb(77, 77, 77);
$font-color-error: rgb(146, 0, 0);
$bg-error: rgb(255, 141, 141);
$font-color-success: rgb(0, 160, 53);
$bg-success: rgb(119, 255, 183);
$font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$container-radius: 8px;
